
.container-fluid{
    background-image: url("https://tse1.mm.bing.net/th?id=OIP.8ucCv1zJZUD-nIzdt_ndAQAAAA&pid=Api&P=0&w=300&h=300");
    background-repeat: repeat;
    background-size: 100%;
    padding: 10px;
    
  }
  
  .body-servicios {
    margin: o;
    padding: o;
    background-color: grayscale($color: #725b5b);
  }
  
  .imagen-servicios {
    position: relative;
    margin: 0px 5px 0px 0px;
    width: 80%;
  }
  
  .grid-imagen {
    display: grid;
    grid-template-columns: 100%;
  
    .imagen {
      justify-content: center;
      background-color: black;
      width: 100%;
      height: 100%;
    }
  }
  
  .body-nosotros {
    background-color: rgb(230, 218, 218);
  }
  
  .imagen-nosotros {
    margin: 0;
    padding: 0;
    width: 95%;
  }
  
  .imagenes-galeria {
    display: grid;
    /* crea mi elemento en cuadricula */
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
    /* cantidad de columnas y su medida */
  
    grid-template-rows: auto auto;
    /* cantidad de filas y su medida */
    background-color: rgb(214, 200, 200);
    box-sizing: border-box;
    padding: 1px;
    grid-gap: 7px;
  
    .imagen-grid {  
      border: 1.5px solid #fff;
      text-align: center;
      box-sizing: border-box;
    }
  }
  .img-grid{
    width: 80%;
    height: 70%;
  }
  
  p {
    color: darkgray;
    display: flex;
    justify-content: center;
    font-size: 100%;
  
    &:hover {
      color: darkslategray;
    }
    .descripcion-nosotros {
      margin: 0;
    }
  }
  
  .titulo{
    color: rgb(222, 222, 235);
    font-family: "Gorditas", cursive;
    font-size: xx-large;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 20px;
  }
  
/* PAGINA DE CONTACTO */
.body-contacto{
  background-image: url("https://image.freepik.com/free-photo/dark-purple-shades_23-2147734216.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-content: center;
}
form{
  width: 35%;
  margin:auto;
  padding: .6em;
  border-radius: 0.2em;
  border-top: 1px solid #fff;
  justify-content: center;

  .label-nombre, .label-email, .label-area{
    color: #999;
    margin-left: 7%;
  }
  .label-email{
    margin-left: 143px;
  }
  .input-email{
    margin-left: 25px;
  }
  input, textarea{
    background-color: #777;
    border: 1.3px solid rgb(155, 175, 199);
    box-shadow: 1px 2px 25px 8px;
    padding: 1px;
    margin-left: 6%;
    justify-content: center;
  }
  .label-area{
    display: block;
  }  
}

div .label-area{
  margin-top: 10px;
}
form div{
  padding: 0.1em;
}
div .input-area{
  width: 386px; 
  padding: 2em;
}
div .input-nombre{ 
  margin-left: 30px;
}

.subtitulo{
  text-align: center;
  color: rgb(222, 222, 235);
  font-weight: 700;
  margin-bottom: 50px;
}

.enviar{
  width: 60%;
  background:rgb(134, 67, 128);
  color: #ece5e9;
  border-radius: 30%;
  padding: 0.5em;
  border: none;
  margin: 5% 0 5% 22.5%;
  font-weight: 700;
  font-size: 20px;
  justify-content: center;
  &:hover{
    background:rgb(139, 33, 131);
    color: #ece5e9;
  }
} 

